/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #122045;
  --vt-c-black-soft: #5A6774;

  --vt-c-gray: #B2B6BF;
  --vt-c-gray-line: #ECEFF5;

  --vt-c-main-blue: #3851A4;
  --vt-c-main-blue-hover: #465eae;
  --vt-c-blue-soft: #E6EDFD;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-black);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --vt-c-text-size-xs: 10px;
  --vt-c-text-size-sm: 12px;
  --vt-c-text-size-md: 14px;
  --vt-c-text-size-lg: 16px;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-Thin";
  src: url("./public/fonts/Montserrat-Thin.ttf");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("./public/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("./public/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("./public/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("./public/fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("./public/fonts/Montserrat-Bold.ttf");
}

body {
  display: flex;
  min-height: 100vh;
  color: var(--color-text);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Montserrat-Regular;
  font-size: var(--vt-c-text-size-md);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  font-weight: normal;
}

header {
  display: flex;
  line-height: 1.5;
  justify-content: center;
}

main {
  display: flex;
  flex: 1;
}
